body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
	Height: 440px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header {
    padding: 15px;
	Height: 60px;
} 
/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul ul{
	float: right;
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu > ul ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	text-align: center;
	display: block;
	width: 160px;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li.current {
	color: orange;
}
#nav_menu ul li:hover, #nav_menu ul li a:focus {
	background-color: gray;
}
#nav_menu ul li ul li:hover, #nav_menu ul li ul li:focus {
	background-color: gray;
}
#nav_menu ul li ul li ul {
	float: right;
	padding-left: 160px;
	margin-top: -40px;
}

/* Sidebar */
aside {
	float: left; 
	width: 140px;
	padding: 20px 0; 
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}
#nav_list ul li { 
	width: 110px;
	margin-bottom: .5em;
	border: 2px solid black; }
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 0 .5em .5em;
	color: black;
}
/*Right Navigation Menu */

aside {
	float: left; 
	width: 140px;
	padding: 20px 0; 
	border: 1px solid black;
	Height: 270px;
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}
#nav_list ul li { 
	width: 110px;
	margin-bottom: .5em;
	border: 2px solid black; }
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background-color: orange;
	padding: .5em 0 .5em .5em;
	color: black;
}
/* Sidebar */
#right_aside{
	float: right; 
	width: 224px;
	padding: 20px 0; 
	Height: 270px;
	border: 1px solid black;
}
#right_list p{
	padding: 5px 0; 
	margin-left:10px;
	margin-right:1px;
	
}
#right_list ul{
	list-style: none;
	padding-left: 1.5em;
}
#right_list ul li { 
	width: 180px;
	margin-bottom:.1em;
	font-size:14px;	}
#right_list ul li img { 
	margin-left:.6em;}
#right_list ul li a {
	display: block;
	padding: .5em 0 .5em .5em;
	color: black;
	text-decoration:underline;
}
#right_list ul li a:hover, 
#right_list ul li a:focus {
	color: green;
}

/* Section */
section {
	width: 370px;
	float: left;
	padding: 20px 40px 20px 20px;
	border:1px solid black;	
	Height: 270px;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
	font-size:14px;
	padding-bottom:.5em;
}
section p img {
	margin-bottom: 1em;
	float:left;
	padding-right:2em;
}
section a {
	font-weight: bold;
	color: orange;
}
section a:link, main a:visited { 
    color: orange; 
}
section a:hover, main a:focus { 
    color: green;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
} 
footer p {
	display: block;
	font-size: 90%;
	text-align: center;
	Height: 100px;
}