html {
	background-image: url("../images/ninja_Wallpaper.jpg");
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 10%, Blue 40%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, Blue 540%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, Blue 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, Blue 75%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header img:hover{
	background:#33BEFF;;
	Width:160px;
	Height:160px;
	border:1px solid black;
}
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}

/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 160px;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a.current {
	color: Blue;
}
#nav_menu ul li:hover, #nav_menu ul li a:focus {
	background-color: gray;
}
#nav_menu ul li ul li:hover, #nav_menu ul li ul li:focus {
	background-color: gray;
}
#nav_menu ul li ul li ul {
	float: right;
	padding-left: 160px;
	margin-top: -80px;
}
/* Sidebar */
aside {
	float: left; 
	width: 147px;
	padding: 20px 0;
	border:1px solid Black;
	height: 410px;
	background:#33BEFF;
}
aside img:hover{
	background:#33BEFF;;
	Width:160px;
	Height:160px;
	border:1px solid black;
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}
#nav_list ul li { 
	width: 110px;
	margin-bottom: .5em;
	border: 1px solid black; }
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: Black;
}
/* Section */
section {
	width: 447px;
	float: left;
	padding: 20px 10px 30px 10px;
	border:1px solid Black;
	height: 400px;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h2 {
	font-size: 125%;
	margin:  .5em;
}
section a:link, main a:visited { 
    color: black; 
}
section a:hover, main a:focus { 
    color: black;
}
/* Sidebar */
#right_aside{
	float: right; 
	width: 180px;
	padding: 20px 0; 
	background-color:#33BEFF;
	Height: 410px;
	border:1px solid Black;
}
#right aside img:hover{
	background:#33BEFF;;
	Width:160px;
	Height:160px;
	border:1px solid black;
}
#right_list p{
	padding: 5px 0; 
	margin-left:10px;
	margin-right:1px;
}
#right_list ul{
	list-style: none;
	padding-left: 1.5em;
}
#right_list ul li { 
	width: 140px;
	margin-bottom:.1em;
	font-size:14px;
    }
#right_list ul li img { 
	margin-left:.6em;
	border: 1px Solid Black;
	}
#right_list ul li a {
	display: block;
	padding: .5em 0 .5em .5em;
	color: black;
	text-decoration:underline;
}
#right_list ul li a:hover, 
#right_list ul li a:focus {
	color: green;
}
/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, white 10%, Blue 40%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, Blue 540%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, Blue 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, Blue 75%, black 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}