figure, figcaption {
			margin: 0;
			padding: 0; }
		figure {
			width: 450px;
			}
		figcaption {
			display: block;
			font-weight: bold;
			text-align: center;
			font-size: 120%;
			padding-bottom: .25em; }
		td {
			padding: .2em 1em;
			text-align: right;
			}
		th{
			padding: .2em .7em;
			text-align:right;
			vertical-align: text-top;
		  }
		th.left, td.left {
						text-align: left;
						}
		thead{ 
					color:gray;	
					text-align: left;
					}
		tbody td:nth-of-type(even) { 
									background-color: #F5DEB3;
									}